* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: rgba(0, 106, 255, 0.384);
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 22px;
    min-height: 80px;
    height: 80px;
    background: #1f1f1f;
    white-space: nowrap;
    overflow: hidden;
    top: o;
    z-index: 1000;
}

nav > a {
    display: flex;
    align-items: center;
    max-width: 1080px;
}

nav img {
    max-height: 48px;
    background-color: white;
}

nav ul {
    display: flex;
    gap: 20px;
    margin-left: 20px;}

nav ul li {
    white-space: nowrap;
}

.spacer {
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 280px - 200px);
}

#last-item {
    margin-right: 0px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: rgb(229, 145, 0);
}

nav ul li a:active {
    color: rgb(92, 229, 0);
}

#current-page {
    color: aquamarine;
}

.content-wrapper {
    width: 100%;
    padding-top: 120px;
    overflow: visible;
    height: 680px;
}

header{
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}

h1{    
    color: black;
}

main p{
    color: black;
}

.hamster-img-left {
    border: 3px solid rgba(66, 22, 0, 0.336);
    float: left;
    margin: 20px;
    width: 35%; /* または、必要なサイズに設定 */
    height: auto; /* アスペクト比を保つために自動設定 */
}

.hamster-img-right {
    border: 3px solid rgba(66, 22, 0, 0.336);
    float: right;   
    margin: 20px;
    width: 35%; /* または、必要なサイズに設定 */
    height: auto; /* アスペクト比を保つために自動設定 */
}

.container{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.box{
    border:2px solid rgba(66, 22, 0, 0.336);
    align-items: center;
}

.top-row {
    display: flex;
    justify-content: space-between;  /* 横方向で2つのボックスを並べる */
    width: 100%;  /* 横幅を100%に設定 */
    margin-top: 80px;
}

.top-left,
.top-right {
    width: 48%; /* 横方向で2つのボックスを並べる */
}

.bottom {
    margin-top: 20px;
    flex-grow: 1;  /* 残りのスペースを占める */
    align-items: center;
    width: 30%;
    margin-left: 400px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    background: #1f1f1f;
    text-align: center;
    padding: 15px;
    width: 100%;
}

footer ul {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

footer ul li {
    text-align: center;
    color: rgba(0, 106, 255, 0.384);
    display: inline;
    padding-left: 5px;
    padding-right: 5px
}

footer p {
    padding-top: 15px;
    color: aliceblue;
    font-size: 12px;
}

.footer_p {
    display: flex;
    border-top: 0.5px solid white;
    margin: 5px;
}

.context{
    display: flex;
    gap: 70px;
    flex-direction: row;  
    width: 100%; 
    height: 650px;
    margin-top: 600px;
    margin-bottom: 100px;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}

.sidebar{
    flex-direction: column;
    justify-content: space-between;
    height:100%;   
    width: 200px;
}

.bar{
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    background-color: rgb(212, 255, 212);
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    width: 150px;
    height: 150px;
    background-color: #e3f2fd;
    justify-content: center;
    align-content: center;
    text-align: center;
}
